h1 {
  color: purple;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

h2 a:hover {
  color: red;
  font-weight: 400;
}

.profile_pic {
  height: 300px;
  width: auto;
}

.copyright {
  color: white;
  font-size: 70%;
}
